<h1>{{title}}</h1>
<h2>My Subjects</h2>
<div class="container">
  <div class="section">
        <div class="row">
          <ul class="subjects">
            <li *ngFor="#subject of subjects">
              <div class="col s12 m6 l4">
                <div class="card grey lighten-4">
                  <div class="card-content light-blue-text text-darken-4">
                    <span class="badge">{{subject.id}}</span> {{subject.name}}
                      <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                  </div>
                  <div class="card-action">
                    <a (click)="gotoConcepts()">View {{subject.name}} Concepts</a>
                    <button (click)="gotoConcepts()" class="btn waves-effect waves-grey">{{subject.name}} Concepts</button>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
  </div>
</div>

<!-- <div *ngIf="selectedSubject">
  <h2>
    View concepts for {{selectedSubject.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Concepts</button>
</div> -->
