<div class="section no-pad-bot" id="index-banner">
   <div class="container">
     <br><br>
     <h1 class="header center grey-text">Welcome!</h1>
     <div class="row center">
       <h5 class="header col s12 light">View. Learn. Add.</h5>
       <p align="justify">Someday this will have information about our way cool website, but for now, cupcake ipsum dolor. Sit amet pastry icing fruitcake cupcake ice cream. Macaroon cheesecake chocolate apple pie pastry tootsie roll. Candy canes chupa chups macaroon brownie tootsie roll caramels topping soufflé. Tiramisu carrot cake topping powder. Candy chocolate tart halvah jelly beans icing icing gingerbread toffee. Pie liquorice halvah gummies chocolate cake muffin cheesecake pie cotton candy.</p>

     </div>
     <div class="row center">
       <button (click)="gotoLogin()" class="btn-large waves-effect waves-grey"> Log In</button>
       <button (click)="gotoSignUp()" class="btn-large waves-effect waves-grey"> Sign Up</button>
     </div>
     <br><br>

   </div>
 </div>

  <footer class="grey lighten-4 page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="grey-text text-darken-3">Footer </h5>
          <p class="grey-text text-darken-1">More relevant information here as it comes :)</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="grey-text text-darken-3">More Resources</h5>
          <ul>
            <li><a class="grey-text text-darken-1" href="#!">Resource 1</a></li>
            <li><a class="grey-text text-darken-1" href="#!">Resource 2</a></li>
            <li><a class="grey-text text-darken-1" href="#!">Resource 3</a></li>
            <li><a class="grey-text text-darken-1" href="#!">Resource 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 BYU. All rights reserved.
      <!--Maybe include these "More Links" later
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>
