<div class="section no-pad-bot" id="index-banner" style="background-image:url(../components/subject/backgroundPhotos/books.jpg)">
   <div class="container">
     <br><br>
     <h1 class="header center white-text">Welcome!</h1>
     <div class="row center">
       <h5 class="header col s12 light white-text">View. Learn. Contribute.</h5>
       <p align="justify" class="white-text">We're here to provide a platform for users to access and create high-quality online resources. Why pull from just one source when you can bring together the knowledge of hundreds, and even thousands, of people to improve your learning? If you're here to use the resources already provided, we're glad to have you. If you want to add your own knowledge to create or improve upon a concept already in our database, we're glad to have you, too. Whether you come here to learn, to contribute, or to do both, we hope you'll always be part of the E3 community.</p>

       <div class="row center">
         <button (click)="gotoLogin()" class="btn-large waves-effect waves-grey"> Log In</button>
         <button (click)="gotoSignUp()" class="btn-large waves-effect waves-grey"> Sign Up</button>
       </div>
     </div>
</div>
</div>

<div class="section" style="background-image:url(../components/subject/backgroundPhotos/subtleBg.jpg)">
    <div class="container" align="center">
       <p>Once you sign up for an account, you'll be able to access all of the subjects, concepts, and resources available. Each concept comes with the following tools:</p>
     </div>
</div>

 <!--Start of Section Content-->
   <div class="container">
      <div class="section">
 <!--Icon Section-->
     <div class="row">
 <!--Box 1-->
       <div class="col s12 m4">
         <div class="icon-block">
             <a href="#">
               <h2 class="center grey-text text-lighten-1"><i class="large material-icons">theaters</i></h2>
               <h5 class="center">Videos</h5>
             </a>

             <p class="light">Learn better by watching? Find the video to help you learn more about that new concept you can't wait to study or the one to finally master a topic you're familiar with</p>
           </div>
           </div>
           <!--Box 2-->
           <div class="col s12 m4">
           <div class="icon-block">
             <a href="#">
               <h2 class="center grey-text text-lighten-1"><i class="large material-icons">assignment</i></h2>
               <h5 class="center">Quizzes</h5>
             </a>

             <p class="light">Did you know that actively recalling what you've learned is one of the best ways to review? Our quizzes will show you what areas you've mastered and what areas might need a little more TLC. Track your scores and see your progress</p>
             </div>
             </div>
             <!--Box 3-->
             <div class="col s12 m4">
             <div class="icon-block">
             <a target="_blank" href="https://openanalytics-dashboard.com/dashboard/scatterplot_recommender">
               <h2 class="center grey-text text-lighten-1"><i class="large material-icons">assessment</i></h2>
               <h5 class="center">Recommenders</h5>
             </a>

             <p class="light">Want to know more about your online study habits and how they are affecting your performace? Check out our recommenders which present analytics about your online activity to make recommendations for sections to review, videos to watch, and study habits to work on</p>
             </div>
             </div>
           </div>
         </div>
</div>




  <footer class="grey lighten-4 page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p>
          <ul>
          <li><a class="grey-text text-darken-1" href="#!">Help</a></li>
          <li><a class="grey-text text-darken-1" href="#!">Terms of Use</a></li>
          <li><a class="grey-text text-darken-1" href="#!">Privacy Policy</a></li>
          <li><a class="grey-text text-darken-1" href="#!">Contact Us</a></li>
        </ul>

        </div>

      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2016 BYU. All rights reserved.
      <!--Maybe include these "More Links" later
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>-->
      </div>
    </div>
  </footer>
