<h1>{{title}}</h1>
<h2>My Concepts</h2>
<div class="container">
  <div class="section">
    <div class="row">
      <ul class="subjects">
        <li *ngFor="#concept of concepts" [class.selected]="concept === selectedConcept" (click)="onSelect(concept)">
          <div class="col s12 m6 l4">
            <div class="card grey lighten-4">
              <span class="badge">{{concept.id}}</span> {{concept.name}}
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              <div class="card-action">
                <a (click)="gotoQuestions()">View {{concept.name}} Questions</a>
                <button (click)="gotoQuestions()" class="btn waves-effect waves-grey">{{concept.name}} Concepts</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="selectedConcept">
  <h2>
    {{selectedConcept.name | uppercase}} Problems
  </h2>
  <div class="flex-row flex-center">
        <div class="flex-col">
            <div class="flex-row flex-center">
                <h2>Practice Problem Examples</h2>
            </div>
            <iframe class="problem-frame" src="https://resplendent-fire-9351.firebaseapp.com/view-problem/1" frameborder="0"></iframe>
            <iframe class="problem-frame" src="https://resplendent-fire-9351.firebaseapp.com/view-problem/2" frameborder="0"></iframe>
            <iframe class="problem-frame" src="https://resplendent-fire-9351.firebaseapp.com/view-problem/4" frameborder="0"></iframe>
            <iframe class="problem-frame" src="https://resplendent-fire-9351.firebaseapp.com/view-problem/3" frameborder="0"></iframe>
       </div>
  </div>
  <div class="flex-row flex-center">
          <iframe src="https://resplendent-fire-9351.firebaseapp.com/edit-problem" frameborder="0"></iframe>
</div>
        <style>
            .problem-frame {
                width: 50vw;
                height: 30vh;
                box-shadow: 0px 0px 5px grey;
                margin-top: 25px;
            }
            .flex-row {
                display: flex;
                flex-direction: row;
            }
            .flex-col {
                display: flex;
                flex-direction: column;
            }
            .flex-center {
                justify-content: center;
                align-items: center;
            }
        </style>
</div>
<button (click)="gotoCreateConcepts()">New Concept</button>
